@charset "utf-8";

@page { 
	size:21.0 29.7; 
}



/* ----------- @FONT-FACE ----------- */

@font-face{
	font-family:"libertine_bolditalic";
	font-weight: normal;
	font-style: normal;
	src: url("Fonts/LinLibertine_BI-4.1.0.ttf");
}

@font-face{
	font-family:"libertine_bold";
	font-weight: normal;
	font-style: normal;
	src: url("Fonts/LinLibertine_Bd-4.1.5.ttf");
}

@font-face{
	font-family:"libertine_it";
	font-weight: normal;
	font-style: normal;
	src: url("Fonts/LinLibertine_It-4.2.6.ttf");
}

@font-face{
	font-family:"libertine_reg";
	font-weight: normal;
	font-style: normal;
	src: url("Fonts/LinLibertine_Re-4.7.5.ttf");
}

@font-face{
	font-family:"vera_mono_reg";
	font-weight: normal;
	font-style: normal;
	src: url("Fonts/VeraMono.ttf");
}

@font-face{
	font-family:"vera_mono_it";
	font-weight: normal;
	font-style: normal;
	src: url("Fonts/VeraMoIt.ttf");
}

@font-face{
	font-family:"vera_mono_bold";
	font-weight: normal;
	font-style: normal;
	src: url("Fonts/VeraMoBd.ttf");
}


/* ----------- DISPLAY:NONE ----------- */

.bandeau-icone, .magnify, #mw-navigation, #footer, .noprint, #siteSub, #toc, .navigation-only, #contentSub, .homonymie, .icone_de_titre{
	display:none;
}



/* ----------- CONTENU ----------- */

#content{
	position:relative;
	display:block;
	margin:0cm;
	font-family:"libertine_reg";
	font-size:9pt;
	height:28.5cm;
	column-width: 8.3cm;
	-moz-column-width: 8.3cm;
	-webkit-column-width: 8.3cm;
	-ms-column-width: 8.3cm;
	column-count:2;
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari & Chrome */
	-ms-column-count: 2;
}

p, ul, ol{
	margin:0;
}

ul{
	list-style-type: circle;
	margin-left:-0.4cm;
}

p{
	text-indent:0.3cm;
}

b, h1, h2, h3{
	font-weight:normal;
	font-family:"libertine_bold";
}

.reference{
	vertical-align: super; 
	font-size: 70%; 
	line-height: 85%;
}

blockquote{
	margin-top:0;
	margin-bottom:0;
	font-family:"libertine_it";
}

blockquote p{
	text-indent:0cm;
}

h1, h3{
	margin-top:0;
	margin-bottom:0;
}
h2{
	margin-bottom:0;
}
/* ----------- IMAGES & LÉGENDES ----------- */

.thumb, .thumbinner{
	width:8.3cm;
} 

.thumbimage, center{
	max-width:7cm;
	margin-top:0.2cm;
	margin-left:0.3cm;
}

.thumbcaption{
	margin-top:0;
	margin-bottom:0.2cm;
}

center, .thumbcaption, table{
	font-family:"vera_mono_reg";
	font-size:6.5pt;
	line-height:120%;
	width:8.3cm;
}

table{
	border:1px solid black;
}

table th, table th a{
	font-weight:normal;
	font-family:"vera_mono_bold";
	text-align:left;
}

table tr, table tr a{
	font-weight:normal;
	font-family:"vera_mono_reg";
	text-align:left;
}

hr{
	color:black;
	background-color:black;	
}

td{
	text-align:left;
}
/* ----------- LIENS ----------- */

a{
	color:black;
	text-decoration:none;
	font-family:"libertine_it";
} 
a.image{
	border:0px;
}

center a, .thumbcaption a{
	font-family:"vera_mono_it";
	text-align:left;
}
